---
layout: index
title: "Kingauthur's Blog"
description: "池逸欣(kingauthur)的博客首页，这里有关于互联网的分析，技术的讨论，生活的点点滴滴，旅行的意义"
keywords: "池逸欣，博客，kingauthur，技术贴，互联网，旅行的意义，生活"
---
{% include JB/setup %}




<div id="content">
    <article id="post_list">
      {% for post in paginator.posts %}
        <section class="post">
          <h2><a href="{{ BASE_PATH }}{{ post.url }}" class="title">{{ post.title }}</a></h2>
          <small class="meta">{{ post.date | date: "%m - %d - %Y" }}</small>
        <div class="content">
        {{ post.content | truncatehtml: 269 }}
        
        
        </div>
        <!-- 标签 -->
        <ul class="tag_box inline">
      		{% assign tags_list = post.tags %}
      		{% include JB/tags_list %}
      	</ul>
        <br/>
      	<!-- readmore按钮 -->
        <p class="preadmore"><a href="{{ BASE_PATH }}{{ post.url }}" alt="Read More" class="readmore"><span>&#10149;</span>阅读全文</a></p>
         
        </section>
      {% endfor %}
    </article>
</div>

<!--分页器-->
<div id="pagination">
  <div class="pagenavi">
  <span class="page_number">第{{paginator.page}}页/共{{paginator.total_pages}}页</span>
  <!--暂时先把第一页给注释掉-->
  <!--a href="/">第一页</a-->
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="current">前一页</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}">前一页</a>
    {% endif %}
    {% else %}
      <span>前一页</span>
  {% endif %}

  {% for count in (1..paginator.total_pages) limit:8 %}
    {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
    {% else %}
      <a href="/page{{count}}">{{count}}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}">后一页</a>
  {% else %}
    <span>后一页</span>
  {% endif %}
    <!--暂时先把最后一页给注释掉-->
    <!--a href="/page{{paginator.total_pages}}">最后一页</a-->
  </div>
</div>

<script type="text/javascript">
  showCurrentItem(document.getElementById("menu-item-index"));
</script>



