<div id="content">
	<article class="post">
    <h1 class="headline">{{ page.title }}</h1>
    <small class="meta">{{ page.date | date: "%m - %d - %Y" }}</small>
    <!--
    <blockquote>
    	{{ page.description }}
    </blockquote>
    -->

    {{ content }}
    
  <ul id="tag_boxes" class="tag_box inline">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
  </ul>

  <div>
    {% if page.categories[0] == 'travel' %}
      <span class="category_box"><a href="/travel.html">走走停停</a></span>
      <script type="text/javascript">
        showCurrentItem(document.getElementById("menu-item-travel"));
      </script>
    {% endif %}
    {% if page.categories[0] == 'tech' %}
      <span class="category_box"><a href="/tech.html">技术贴</a></span>
      <script type="text/javascript">
        showCurrentItem(document.getElementById("menu-item-tech"));
      </script>
    {% endif %}
    {% if page.categories[0] == 'life' %}
      <span class="category_box"><a href="/life.html">生活志</a></span>
      <script type="text/javascript">
        showCurrentItem(document.getElementById("menu-item-life"));
      </script>
    {% endif %}
  </div>

  <br/>

  <!-- JiaThis Button BEGIN -->
  <div id="ckepop">
  <a class="jiathis_button_qzone"></a>
  <a class="jiathis_button_tsina"></a>
  <a class="jiathis_button_tqq"></a>
  <a class="jiathis_button_renren"></a>
  <a class="jiathis_button_googleplus"></a>
  <a class="jiathis_button_douban"></a>
  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
  </div>
  <!-- JiaThis Button END -->

    <address class="signature">
      <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a> 
      <span class="date">{{ page.date | date_to_long_string }}</span>
      <span class="location">{{ page.location }}</span>
    </address>

    <div class="prev-next">
    {% if page.previous %}
      <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; 上一篇</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">下一篇 &rarr;</a>
    {% endif %}
    </div>
  </article>
</div><!-- End Page -->

<!-- GPS 
<div id="gps">
	<a href="#top"><img alt="回顶部" title="回顶部" src="/assets/custom/photos/arrow.gif" /></a>
</div>
-->

<!-- 这里是JiaThis的js,放在这里是为了提高页面加载速度 -->
<script type="text/javascript" >
var jiathis_config={
	summary:"",
	hideMore:true
}
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>

{% include JB/comments %}
