/* 自定义样式 */
/* 头像 */
#avatar {
	width: 130.5px;
	float: right;
	margin-right: 15px;
}
/* 目录 */
#category {
	clear: right;
}

/* 目录中日期、标题、描述的样式 */
.date {
	font-size: 1.1em;
}
.title{
	font-size: 1.1em;
	font-weight: bold;
	position: relative;
	left: 20px;
}
.desc{
	font-size: 0.9em;
}

/* about页面的图像 */
#icon{
	position: relative;
	left: -40px;
}
#about {
	width: 300px;
	float: right;
	margin-top: 70px;
}
/* 首页的标题 */
.emphnext {
	margin-bottom: 70px;
	margin-top: 10px;
}

/* 首页内容的显示 */
.item {
	border-bottom: dotted black thin;
	margin-bottom: 20px;
}
.content {
	line-height: 2em;
	font-size: 0.8em;
	overflow:hidden;
	text-overflow:ellipsis; 
	height: 350px; 
}
/* readmore连接的样式*/
.readmore{
	font-family: "Comic Sans",Courier,Monospace;
	font-size: 0.9em;
	text-align: right;
}
/* readmore的上一个父块标签，使readmore右对齐*/
.preadmore{
	text-align: right;
}
/** 内容页的标题 */
.headline{
	}

/* 导航 */
#gps{
	position:fixed;
	right: 100px;
	bottom: 10px;
	
}
.404pig{
	text-align: center;
}



